<div data-column="_agendacolumn2" data-column-id="agendaColumn"
  class="b-grid-cell b-calendar-cell b-nonworking-day b-sticky-cell" style="min-width: 60px;">
  <div class="b-cal-agenda-date">
    <div class="day-container">
      <div class="cal-agenda-date-date-number" [ngClass]="day.isSelectedInCalendar ? 'day-selected': ''">
        {{day.appointmentDate | date:'d'}}
  
      </div>
    </div>
    <div class="cal-agenda-date-date-text">
      <div>{{day.appointmentDate | date:'EEEE'| translate}}</div>
      <div>{{day.appointmentDate | date:'MMMM'| translate}} {{day.appointmentDate | date:'yyyy'}}</div>
    </div>
  </div>
  <div class="appointments-container">
    <div *ngFor="let appointment of pendingAppointments" class="b-cal-event-bar-container b-cal-agenda-event-row"
      style="margin-bottom: 8px;">
      <div class="b-cal-agenda-event-time">{{appointment.dateFrom | date:'shortTime'}} - {{appointment.dateTo |
        date:'shortTime'}}</div>
      <div class="b-cal-agenda-event-time" tabindex="0" data-event-id="1"
        class="b-cal-event-wrap b-allday b-past-event b-cal-color-green b-continues-right">
        <div class="b-start-arrow" style="border-width: 12.5px 8.33333px 12.5px 0px;"></div>
        <div class="b-cal-event" style="width: max-content; margin-left: 3px;">
          <mat-chip-listbox>
            <mat-chip *ngIf="appointment.status !== 'CANCELED'" color="primary" highlighted>
              {{appointment.patientId === currentUser.id ? appointment.hostName :appointment.patientName}}
              @if(appointment.dateFrom.isBetweenOneHour() || appointment.dateTo.isBetweenOneHour() || isHost){
                
                <mat-icon matChipRemove style="opacity: 1!important;" (click)="joinMeeting(appointment)">videocam</mat-icon>
                
              }
              <button matChipRemove  (click)="cancelEvent(appointment)">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-listbox>
        
          
        </div>
        <div class="b-end-arrow" style="border-width: 12.5px 0px 12.5px 8.33333px;">
        </div>
      </div>
    </div>

    <div *ngFor="let appointment of cancelledAppointments" class="b-cal-event-bar-container b-cal-agenda-event-row"
      style="margin-bottom: 8px;">
      <div class="b-cal-agenda-event-time">{{appointment.dateFrom | date:'shortTime'}} - {{appointment.dateTo |
        date:'shortTime'}}</div>
      <div class="b-cal-agenda-event-time" tabindex="0" data-event-id="1"
        class="b-cal-event-wrap b-allday b-past-event b-cal-color-green b-continues-right">
        <div class="b-start-arrow" style="border-width: 12.5px 8.33333px 12.5px 0px;"></div>
        <div class="b-cal-event" style="width: max-content; margin-left: 3px;">
          <mat-chip-listbox>
            <mat-chip  class="canceled-chip" highlighted>
              <span class="canceled">
                {{appointment.patientId === currentUser.id ? appointment.hostName :appointment.patientName}}
              </span> - {{"canceled"|translate}}
            </mat-chip>
          </mat-chip-listbox>
        </div>
        <div class="b-end-arrow" style="border-width: 12.5px 0px 12.5px 8.33333px;">
        </div>
      </div>
    </div>
  </div>

</div>