<form [formGroup]="formGroup" class="text-center" style="color: #757575;">
    <div>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>{{"email"|translate}}</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <div>
        <button *ngIf="!codeSent" 
                mat-stroked-button color="primary" 
                class="full-width"
                [disabled]="formGroup.get('email')?.invalid"
                (click)="sendCode()">{{"send_code"|translate}}
        </button>

        <p  *ngIf="codeSent" ><b>Se ha enviado un email con el código para cambio de contraseña</b></p>
      </div>

      <div>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>{{"code"|translate}}</mat-label>
          <input matInput type="number" formControlName="code" required>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>{{"new_pass"|translate}}</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
      </div>
    </div>


    <div class="d-flex justify-content-around" >
      <button mat-stroked-button color="primary" class="full-width"
      (click)="resetPass()"
        >{{"reset-pass"|translate}}</button>
      </div>
      <hr>
    </form>