
<router-outlet></router-outlet>
<mat-toolbar *ngIf="showToolbar" class ="toolbarNav">
    <button *ngIf="role === 'HOST'" matTooltip="Mis Horarios" mat-flat-button routerLink="/main/my-time" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        access_time</mat-icon>
      <span>{{"my_time"|translate}}</span>
    </button>
    <button *ngIf="role !== 'HOST'" matTooltip="Nuevo Turno"  mat-flat-button routerLink="/main/new-appointment" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue" >
        add</mat-icon>
      <span>{{"new_appointment"|translate}}</span>
    </button>
    <button *ngIf="role === 'HOST'" matTooltip="Asignar Turno" mat-flat-button routerLink="/main/new-appointment" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        add</mat-icon>
      <span>{{"assign_appointment"|translate}}</span>
    </button>
    <button mat-flat-button routerLink="/main/dashboard" matTooltip="Mi Agenda" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        calendar_today</mat-icon>
      <span>{{"my_appointments"|translate}}</span>
    </button>
    <button mat-flat-button (click)="logout()" matTooltip="Cerrar Sesion">
      <mat-icon class="material-icons color_blue">exit_to_app</mat-icon>
      <span>{{"log_out"|translate}}</span>
    </button>
  </mat-toolbar>
  