<div class="container">
    <div class="header">
        <h2>Historico de pagos </h2>
    </div>
    <hr>
    <div class="panel-container">
        <div class="patient-filter" *ngIf=" isHost && patients.length >0">
            <app-user-filter [patients]="patients" (onPatientSelectedEvent)="onPatientChange($event)">
            </app-user-filter>
        </div>
        <div >
            <mat-accordion  >
                <mat-expansion-panel *ngFor="let p of paymentsFiltered ; let indexPayment = index;" (click)="loadPaymentsFromPatient(p)">
                    <mat-expansion-panel-header class="expansion-pannel-payment">
                        <mat-panel-title class="patient-name">
                            {{p.patient.name}} {{p.patient.lastName}}
                        </mat-panel-title>
                        <mat-panel-description class="description-text">
                            Ultimo pago realizado {{getIndexDate(indexPayment+1,p) | date:'MMMM' | translate}} {{p.paidAt | date:'dd yyyy'}}
                        </mat-panel-description>
                        <mat-chip-list class="chip-list" style ="flex-grow: 1; margin-right: 5px; white-space: nowrap;" >
                            <mat-chip class="chip-text" *ngIf="p.sessionsLeft > 0" color="success" selected (click)="addPayment($event,p,false)">
                                Tiene {{p.sessionsLeft}} {{p.sessionsLeft === 1 ? 'sesion' : 'sesiones'}}
                            </mat-chip>
                            <mat-chip class="chip-text" *ngIf="p.sessionsLeft === 0" color="primary" selected (click)="addPayment($event,p,false)">No debe
                            </mat-chip>
                            <mat-chip class="chip-text" *ngIf="p.sessionsLeft < 0" color="warn" selected (click)="addPayment($event,p,false)">
                                Debe {{p.sessionsLeft * (-1)}} {{p.sessionsLeft === -1 ? 'sesion' : 'sesiones'}}</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <div *ngFor="let pu of paymentsFromUserSelected; let indexPu = index;">
                            <mat-list-item role="listitem" class="list-payment-item">
                                <div class="payment-information">
                                    <p>
                                        {{getIndexDate(indexPu+1,pu) | date:'MMMM' | translate}} {{pu.paidAt | date:'dd yyyy'}}
                                    pagó {{pu.sessionsPaid}} sesiones Total: {{pu.amount|currency}}
                                    </p>
                                </div>
                                <div class="payment-actions">
                                    <button mat-stroked-button color="primary" (click)="addPayment($event,pu,true)">
                                        {{'edit'|translate}}
                                    </button>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                        
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="fab-container">
        <button mat-raised-button color="primary" (click)="showPaymentInformation()">
            Ver Informe Anual
        </button>
    </div>
    
</div>