
.mat-mdc-list-item.mat-focus-indicator{
  height: auto;
  min-height: 50px;
  overflow: overlay;
}
.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-single-line.mdc-list-item--with-one-line{
  height: auto;
  min-height: 50px;
  overflow: overlay;
}
.mdc-list-item,.item-list{
  overflow: overlay!important;
}

.no-appointment{
  
  margin:1em 1em 1em 3em
}

@media only screen and (max-width: 600px)  {
  .no-appointment{
    text-align: center;
    width: 100%;
    margin:1em 0em 1em 0em
  }
}