<mat-drawer-container style="height: 91%;">
  <mat-drawer #drawer [opened]="shouldDrawerBeOppened()" [mode]="'side'">
    <div class="side-calendar">
      <mat-calendar [(selected)]="selectedDay" [minDate]="minDate" [maxDate]="maxDate" [dateClass]="setAppointments"
        [dateFilter]="removeDates"></mat-calendar>
    
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-agenda [selectedDay]="selectedDay"></app-agenda>
  </mat-drawer-content>
</mat-drawer-container>
<button mat-icon-button color="primary" class="calendar-button">
  <mat-icon (click)="drawer.toggle()">calendar_today</mat-icon>
</button>
