
.calendar-button{
  z-index: 100;
  position: fixed;
  bottom:10%;
  left:10px;
}

.mat-list-base{
  padding: 0px;
}

.container{
  padding: 20px;
  padding-bottom: 64px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px)  {
  .container{
    padding: 5px;
    padding-bottom: 56px;
  }
}