<div data-spy="scroll" data-target="#navbarSupportedContent" data-offset="0" style="height: 100%;"
    cz-shortcut-listen="true">
<header>
    <nav class="navbar navbar-expand-xl fixed-top text-white-persist text-center px-4" style="max-height: 75px;">
        <div class="container-fluid">
            <a class="navbar-brand p-0 fs-navbar-brand fw-bold" href="https://psicofernandagarcia.com/">
                <img style="width: 75px; margin:0%;position:absolute; top:3px" alt="logo"
                    src="../../assets/images/logo-png.webp">
            </a>
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav ml-xl-auto ml-auto fs-nav-link primary-colorh" id="navbarNavDropdown">
                    <li class="nav-item">
                        <a class="nav-link px-3 hover" href="https://psicofernandagarcia.com/">Inicio </a>
                    </li>
                </ul>
            </div><!-- end navbar-collapse -->

        </div>
    </nav>
</header>
<div class="content">
    <h1 style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">POLITICA DE PRIVACIDAD</h1>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Última actualización: Marzo 2023.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <ol id="l1">
        <li data-list-text="1.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;text-align: left;">INFORMACIÓN AL USUARIO</h2>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
            <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Psicofernandagarcia.com<span class="p">,
                    como Responsable del Tratamiento, le informa que, según lo dispuesto en el Reglamento (UE) 2016/679,
                    de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protección de datos y garantía de
                    los derechos digitales (LOPDGDD), trataremos sus datos tal y como reflejamos en la presente Política
                    de Privacidad.</span></h2>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">En esta Política de Privacidad describimos
                cómo recogemos sus datos personales y por qué los recogemos, qué hacemos con ellos, con quién los
                compartimos, cómo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.</p>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Esta Política se aplica al tratamiento de
                sus datos personales recogidos por la empresa para la prestación de sus servicios. Si acepta las medidas
                de esta Política, acepta que tratemos sus datos personales como se define en esta Política.</p>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
        </li>
        <li data-list-text="2.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;line-height: 13pt;text-align: left;">CONTACTO</h2>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Denominación social:
                <b>Psicofernandagarcia.com </b>Nombre comercial: <b>Psicofernandagarcia.com </b>Domicilio: <b>Online</b>
            </p>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;"><a
                    href="mailto:psico.fernandagarcia@gmail.com" class="a" target="_blank">e-mail: </a><a
                    href="mailto:psico.fernandagarcia@gmail.com" class="s1"
                    target="_blank">psico.fernandagarcia&#64;gmail.com</a></p>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
        </li>
        <li data-list-text="3.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;text-align: left;">PRINCIPIOS CLAVE</h2>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Siempre hemos estado comprometidos con
                prestar nuestros servicios con el más alto grado de calidad, lo que incluye tratar sus datos con
                seguridad y transparencia. Nuestros principios son:</p>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
            <ul id="l2">
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Legalidad<a
                            href="https://ceporros.com/" class="a" target="_blank">: Solo recopilaremos sus Datos
                            personales para fines específicos</a><span class="s3">, </span><span class="p">explícitos y
                            legítimos.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Minimización de datos<span
                            class="p">: Limitamos la recogida de datos de carácter personal a lo que es estrictamente
                            relevante y necesario para los fines para los que se han recopilado.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Limitación de la Finalidad<span
                            class="p">: Solo recogeremos sus datos personales para los fines declarados y solo según sus
                            deseos.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">Precisión<span
                            class="p">: Mantendremos sus datos personales exactos y actualizados.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Seguridad de los Datos<span
                            class="p">: Aplicamos las medidas técnicas y organizativas adecuadas y proporcionales a los
                            riesgos para garantizar que sus datos no sufran daños, tales como divulgación o acceso no
                            autorizado, la destrucción accidental o ilícita o su pérdida accidental o alteración y
                            cualquier otra forma de tratamiento ilícito.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Acceso y Rectificación<span
                            class="p">: Disponemos de medios para que acceda o rectifique sus datos cuando lo considere
                            oportuno.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Conservación<span class="p">:
                            Conservamos sus datos personales de manera legal y apropiada y solo mientras es necesario
                            para los fines para los que se han recopilado.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-top: 3pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Las
                        transferencias internacionales<span class="p">: cuando se dé el caso de que sus datos vayan a
                            ser transferidos fuera de la UE/EEE se protegerán adecuadamente.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Terceros<span class="p">: El
                            acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las
                            leyes y reglamentos aplicables y con las garantías contractuales adecuadas.</span></h2>
                </li>
                <li data-list-text="">
                    <h2 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Marketing Directo y cookies<span
                            class="p">: Cumplimos con la legislación aplicable en materia de publicidad y
                            cookies.</span></h2>
                </li>
            </ul>
        </li>
        <li data-list-text="4.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;line-height: 13pt;text-align: left;">RECOGIDA Y TRATAMIENTO
                DE SUS DATOS PERSONALES</h2>
            <p style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Las tipos de datos que se
                pueden solicitar y tratar son:</p>
            <ul id="l3">
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">Datos de
                        carácter identificativo.</p>
                    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">También recogemos de forma
                        automática datos sobre su visita a nuestro sitio web según se describe en la política de
                        cookies.</p>
                    <p style="text-indent: 0pt;text-align: left;"><br /></p>
                    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Siempre que solicitemos sus Datos
                        personales, le informaremos con claridad de qué datos personales recogemos y con qué fin. En
                        general, recogemos y tratamos sus datos personales con el propósito de:</p>
                    <p style="text-indent: 0pt;text-align: left;"><br /></p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">Envío de
                        comunicaciones.</p>
                </li>
            </ul>
        </li>
        <li data-list-text="5.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;line-height: 13pt;text-align: left;">LEGITIMIDAD</h2>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">De acuerdo con la normativa de protección de
                datos aplicable, sus datos personales podrán tratarse siempre que:</p>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
            <ul id="l4">
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Nos ha dado su consentimiento a
                        los efectos del tratamiento. Por supuesto podrá retirar su consentimiento en cualquier momento.
                    </p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Por requerimiento legal.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Por existir un interés legítimo
                        que no se vea menoscabado por sus derechos de privacidad.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Por ser necesaria para la
                        prestación de alguno de nuestros servicios mediante relación contractual entre usted y nosotros.
                    </p>
                </li>
            </ul>
        </li>
        <li data-list-text="6.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;line-height: 13pt;text-align: left;">COMUNICACIÓN DE DATOS
                PERSONALES</h2>
            <p style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">La empresa no realizará
                ninguna cesión, salvo por obligación legal.</p>
        </li>
        <li data-list-text="7.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;line-height: 13pt;text-align: left;">SUS DERECHOS</h2>
            <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">En relación con la recogida y tratamiento de
                sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</p>
            <p style="text-indent: 0pt;text-align: left;"><br /></p>
            <ul id="l5">
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;"><a href="https://uztai.com/"
                            class="a" target="_blank">Acceder a sus datos personales y a cualquier otra </a>información
                        indicada en el Artículo 15.1 del RGPD.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Rectificar sus datos personales
                        que sean inexactos o estén incompletos de acuerdo con el Artículo 16 del RGPD.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">Suprimir sus
                        datos personales de acuerdo con el Artículo 17 del RGPD.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Limitar el tratamiento de sus
                        datos personales de acuerdo con el Artículo 18 del RGPD.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;"><a
                            href="https://presencialismo.com/" class="a" target="_blank">Solicitar la portabilidad de
                            sus datos de acuerdo con el Artículo 20 del </a>RGPD.</p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Oponerse al tratamiento de sus
                        datos personales de acuerdo con el artículo 21 del RGPD.</p>
                    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Si ha otorgado su
                            consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento
                            otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el
                            consentimiento previo a su retirada rrhh.</p>
                    <p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;"><a
                            href="mailto:psico.fernandagarcia@gmail.com" class="a" target="_blank">Puede ejercer estos
                            derechos enviando comunicación, motivada y acreditada, a </a><a
                            href="mailto:psico.fernandagarcia@gmail.com"
                            target="_blank">psico.fernandagarcia&#64;gmail.com</a></p>
                    <p style="text-indent: 0pt;text-align: left;"><br /></p>
                    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">También tiene derecho a presentar una reclamación ante la Autoridad de
                            control competente (www.aepd.es)
                        si considera que el tratamiento no se ajusta a la normativa vigente.</p>
                </li>
            </ul>
        </li>
        <li data-list-text="8.">
            <h2 style="padding-left: 17pt;text-indent: -12pt;line-height: 13pt;text-align: left;">INFORMACIÓN LEGAL</h2>
        </li>
    </ol>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Los requisitos de esta Política complementan, y
        no reemplazan, cualquier otro requisito existente bajo la ley de protección de datos aplicable, que será la que
        prevalezca en cualquier caso.</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Esta Política está sujeta a revisiones periódicas y
        la empresa puede modificarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier cambio y le
        pediremos que vuelva a leer la versión más reciente de nuestra Política y que confirme su aceptación.</p>
</div>
<footer class="py-5 bg-black">
    <div class="container">
        <div class="row">
            <div class="col text-center text-white">
                <p class="text-capitalize lsp1" style="color:white">Copyright &#64; 2023 PsicoFer. Derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
</div>
