/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width-input {
  width: 100%;
}

.full-width {
  width: 100%;
}
.side-calendar{
  width: 300px;
}
td.mat-calendar-body-cell.custom-date-class{
  background: orange !important;
  border-radius: 100% !important;
}

.success-snackbar,.mat-success.mat-chip.mat-standard-chip {
  background: #28a745!important;
  color: white !important;;
}


.error-snackbar {
  background: rgb(192, 37, 37);
  color:white;
}
.cdk-overlay-pane{
  overflow: auto;
}

@media only screen and (max-width: 600px)  {

  span.mat-button-wrapper{
    width: 100%;
  }
  .cal-agenda-date-date-number{
    font-size: 2em!important;
  }
  .cdk-overlay-pane{
    max-width: 100% !important;
    overflow: auto;
  }

  .header>h2{
    margin:0px;
  }
  .mat-list-item-content{
    padding:0px !important;
  }

  .b-cal-agenda-event-time{
    font-size: smaller;
  }
  mat-chip {
    font-size: smaller !important;
    font-weight: 400 !important;
  }
}